@import url('components/drawer.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

main> :first-child {
    margin-top: 0 !important;
}

main> :last-child {
    margin-bottom: 0 !important;
}

::-webkit-scrollbar {
    display: none;
}

.tnum {
    font-variant-numeric: tabular-nums;
}